<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>{% block titulo %}Sistema Académico para las capacitaciones de la DTIC{% endblock %}</title>
 
        {% block stylesheets %}
        <link href="{{ asset('bundles/siblhmantenimiento/css/estilos.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/siblhmantenimiento/imagenes/dtic-icono.png') }}" type="image/png" rel="Shortcut Icon" />
 
        {% endblock %}
 
        {% block javascripts %}            
           <!-- <script type="text/javascript" src="{# asset('bundles/minsalsidpla/js/jquery-1.6.2.min.js') #}" ></script>-->
        {% endblock %}
 
    </head>
    <body>   
        <div id ="arriba">

<table style="width: 80%; margin-left: auto; margin-right: auto;">
<tr>
<td><div id="logos" ><img src={{ asset('bundles/siblhmantenimiento/imagenes/blh.jpg') }} /></div></td>
<td><div id = "encabezado">
<table style=" margin-left: auto; margin-right: auto;">
<tr><td  style="text-align:center; font-size:20pt; font-style:bold; color: #21610B;">Ministerio de Salud</td></tr>
<tr><td  style="text-align:center; font-size:20pt; font-style:bold; color: #21610B;">Hospital de Maternidad</td></tr>
</table>
</div></td>
<td><div id="logos"><img src={{ asset('bundles/siblhmantenimiento/imagenes/minsal.jpg') }} /></div></td>
</tr>
</table>
</div>
        
        {% block body %}  
            {% endblock %}
            
                <div id="divpie">Copyright (C) 2013 Ministerio de Salud, Banco de Leche Humana</div> 
    
    
        
     
    </body>
</html>