#REDIRIGIR AUTOMATICAMENTE AL LOGIN AL ESCRIBIR EL NOMBRE DE DOMINIO
root:
    pattern: /
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path:  /admin/login
        permanent: true

#BUNDLE MANTENIMIENTO
siblhmantenimiento:
    resource: "@siblhmantenimientoBundle/Controller/"
    type:     annotation
    prefix:   /

#FOSUSERBUNDLE    
fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"


sonata_user_profile:
    resource: "@SonataUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile


fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile
    
#PARA SONATAADMINBUNDLE
sonata_page_cache:
    resource: '@SonataCacheBundle/Resources/config/routing/cache.xml'
    prefix: /
    
admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

sonata_user:
    resource: '@SonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /admin
 
 
fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml" 
 

#DIRECCIONANDO EL MENU

    
_home:
    pattern:  /inicio
    defaults: { _controller: siblhmantenimientoBundle:Default:index}
    
fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"
    




#DIRECCIONANDO ENTRADAS DESDE EL MENU
    
    
    
_NewDonante:
    pattern:  /Donante/Nueva
    defaults: { _controller: siblhmantenimientoBundle:BlhDonante:new}

_NewHistorialClinico:
    pattern:  /donantes/
    defaults: { _controller: siblhmantenimientoBundle:BlhHistorialClinico:donantes}
    
_NewHistoriaActual:
    pattern:  /donantesHA/
    defaults: { _controller: siblhmantenimientoBundle:BlhHistoriaActual:donantesHA}  

_NewDonacion:
    pattern:  /donantesD/
    defaults: { _controller: siblhmantenimientoBundle:BlhDonacion:donantesD}

    
_NewCurva:
   pattern:  /Curva/Nueva
   defaults: { _controller: siblhmantenimientoBundle:BlhCurva:new} 
    
_NewAnalisisMicrobiologico:
   pattern:  /AnalisisMicro/
   defaults: { _controller: siblhmantenimientoBundle:BlhAnalisisMicrobiologico:frascospasteurizados} 

 

_NewFrascoRecolectado:
    pattern:  /donaciones/
    defaults: { _controller: siblhmantenimientoBundle:BlhFrascoRecolectado:donaciones} 
    
_NewReceptor:
    pattern:  /pacientes/
    defaults: { _controller: siblhmantenimientoBundle:BlhReceptor:pacientes}      
    
_NewEgreso:
    pattern:  /pacientesreceptores/
    defaults: { _controller: siblhmantenimientoBundle:BlhEgresoReceptor:pacientesreceptores}  
    
_NewTemperaturaE:
    pattern:  /pasteurizacion/
    defaults: { _controller: siblhmantenimientoBundle:BlhTemperaturaEnfriamiento:pasteurizacion}      

_MantenimientoUsuarios:
  pattern:  /admin/siblh/mantenimiento/user/list
  defaults: { _controller: SonataAdminBundle:Core:dashboard} 

_NewSeguimiento:
  pattern:  /receptores/seguimiento
  defaults: { _controller: siblhmantenimientoBundle:BlhSeguimientoReceptor:receptoresSeguimiento}    
  
_NewSolicitudes:
  pattern:  /receptores_solicitud
  defaults: { _controller: siblhmantenimientoBundle:BlhSolicitud:receptores}  
  
_NewAnalisisSensorial:
  pattern:  /frascos/analisisSensorial
  defaults: { _controller: siblhmantenimientoBundle:BlhAnalisisSensorial:frascosAnalisisSensorial}    

_NewTemperaturaP:
    pattern:  /pasteurizacionP/
    defaults: { _controller: siblhmantenimientoBundle:BlhTemperaturaPasteurizacion:pasteurizaciones} 

_NewInformacionPublica:
 pattern:  /InfoPublica/
 defaults: { _controller: siblhmantenimientoBundle:BlhInformacionPublica:new} 
  
_NewPasteurizacion:
  pattern:  /curvas/
  defaults: { _controller: siblhmantenimientoBundle:BlhPasteurizacion:curvas} 

_NewAnalisisAcidez:
  pattern:  /frascos/analisisAcidez
  defaults: { _controller: siblhmantenimientoBundle:BlhAcidez:frascosAnalisisAcidez} 
  
_NewAnalisisCrematocrito:
  pattern:  /frascos/analisisCrematocrito
  defaults: { _controller: siblhmantenimientoBundle:BlhCrematocrito:frascosAnalisisCrematocrito} 
  
_NewGrupoSolicitudes:
  pattern:  /seleccion/solicitudes
  defaults: { _controller: siblhmantenimientoBundle:BlhGrupoSolicitud:seleccionSolicitudes} 
  
_NewLoteAnalisis:
  pattern:  /new
  defaults: { _controller: siblhmantenimientoBundle:BlhLoteAnalisis:new} 

_NewCombinacion:
  pattern: Nueva/Combinacion
  defaults: { _controller: siblhmantenimientoBundle:BlhFrascoProcesado:seleccionPasteurizacion} 
  

  

  
 #Mantenimiento

 
_NewInfoPublicaEdit: 
 pattern:  /InfoPublicaEdit
 defaults: { _controller: siblhmantenimientoBundle:BlhInformacionPublica:index}   
 
_NewSolicitudEdit: 
 pattern:  /Solicitud/editar
 defaults: { _controller: siblhmantenimientoBundle:BlhSolicitud:index}   

_NewDonanteEdit: 
 pattern:  /Donante/editar
 defaults: { _controller: siblhmantenimientoBundle:BlhDonante:mantenimientoDonante}   
 
_NewReceptorEdit: 
 pattern:  /Receptor/editar
 defaults: { _controller: siblhmantenimientoBundle:BlhReceptor:mantenimientoReceptor}
 
_NewLaboratorioEdit: 
 pattern:  /Laboratorio/editar
 defaults: { _controller: siblhmantenimientoBundle:BlhFrascoRecolectado:mantenimientoLaboratorio}   

_NewPasteurizacionEdit: 
 pattern:  /Pasteurizacion/editar
 defaults: { _controller: siblhmantenimientoBundle:BlhPasteurizacion:mantenimientoPasteurizacion}   
 
 



  
#Reportes  
_NewReportesDonantes:
  pattern:  /listado/reportes/donantes
  defaults: { _controller: siblhmantenimientoBundle:BlhDonante:listadoReportesDonantes}

_NewReportesReceptores:
  pattern:  /listado/reportes/receptores
  defaults: { _controller: siblhmantenimientoBundle:BlhReceptor:listadoReportesReceptores}
  
_NewReportesLaboratorio:
  pattern:  /listado/reportes/laboratorio
  defaults: { _controller: siblhmantenimientoBundle:BlhFrascoRecolectado:listadoReportesLaboratorio}
  

_NewEstadisticas:
  pattern:  /listado/estadisticas
  defaults: { _controller: siblhmantenimientoBundle:BlhBancoDeLeche:listadoEstadisticas}

_NewCensoDonante:
  pattern:  /censodonante/
  defaults: { _controller: siblhmantenimientoBundle:GeneraReportes:CensoDonante}
  
_NewBLH:
    pattern:  /Banco/Nuevo
    defaults: { _controller: siblhmantenimientoBundle:BlhBancoDeLeche:new}
    
_NewEditBLH:
    pattern:  /Banco/listado
    defaults: { _controller: siblhmantenimientoBundle:BlhBancoDeLeche:index} 
 
   

