#REDIRIGIR AUTOMATICAMENTE AL LOGIN AL ESCRIBIR EL NOMBRE DE DOMINIO
root:
    pattern: /
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path:  /admin/login
        permanent: true

#BUNDLE MANTENIMIENTO
siblhmantenimiento:
    resource: "@siblhmantenimientoBundle/Controller/"
    type:     annotation
    prefix:   /

#FOSUSERBUNDLE    
fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"


sonata_user_profile:
    resource: "@SonataUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile


fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile
    
#PARA SONATAADMINBUNDLE
sonata_page_cache:
    resource: '@SonataCacheBundle/Resources/config/routing/cache.xml'
    prefix: /
    
admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

sonata_user:
    resource: '@SonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /admin
 
 
fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml" 
 

#DIRECCIONANDO EL MENU

    
_home:
    pattern:  /inicio
    defaults: { _controller: siblhmantenimientoBundle:Default:index}
    




#DIRECCIONANDO ENTRADAS DESDE EL MENU
    
    #Entradas de Jeni
    
    
_NewDonante:
    pattern:  /Donante/Nueva
    defaults: { _controller: siblhmantenimientoBundle:BlhDonante:new}

_NewHistorialClinico:
    pattern:  /donantes/
    defaults: { _controller: siblhmantenimientoBundle:BlhHistorialClinico:donantes}
    
_NewHistoriaActual:
    pattern:  /donantesHA/
    defaults: { _controller: siblhmantenimientoBundle:BlhHistoriaActual:donantesHA}  

_NewDonacion:
    pattern:  /donantesD/
    defaults: { _controller: siblhmantenimientoBundle:BlhDonacion:donantesD}

    
_NewCurva:
    pattern:  /Curva/Nueva
    defaults: { _controller: siblhmantenimientoBundle:BlhCurva:new}  
    
_NewAnalisisMicro:
    pattern:  /AnalisisMicro/Nuevo
    defaults: { _controller: siblhmantenimientoBundle:BlhAnalisisMicrobiologico:new}  
 

_NewFrascoRecolectado:
    pattern:  /donaciones/
    defaults: { _controller: siblhmantenimientoBundle:BlhFrascoRecolectado:donaciones} 
    
_NewReceptor:
    pattern:  /pacientes/
    defaults: { _controller: siblhmantenimientoBundle:BlhReceptor:pacientes}      
    
_NewEgreso:
    pattern:  /pacientesreceptores/
    defaults: { _controller: siblhmantenimientoBundle:BlhEgresoReceptor:pacientesreceptores}  
    
_NewTemperaturaE:
    pattern:  /pasteurizacion/
    defaults: { _controller: siblhmantenimientoBundle:BlhTemperaturaEnfriamiento:pasteurizacion}      

_MantenimientoUsuarios:
  pattern:  /Mantenimiento/Usuarios
  defaults: { _controller: SonataAdminBundle:Core:dashboard} 

_NewSeguimiento:
  pattern:  /receptores/seguimiento
  defaults: { _controller: siblhmantenimientoBundle:BlhSeguimientoReceptor:receptoresSeguimiento}    
  
_NewSolicitudes:
  pattern:  /receptores_solicitud
  defaults: { _controller: siblhmantenimientoBundle:BlhSolicitud:receptores}  
  
_NewAnalisisFisico:
  pattern:  /frascos/analisis
  defaults: { _controller: siblhmantenimientoBundle:BlhFrascoRecolectado:frascosAnalisis}    

_NewTempPasteurizacion:
  pattern:  /blhtemppasteurizacion/
  defaults: { _controller: siblhmantenimientoBundle:BlhTemperaturaPasteurizacion:pasteurizaciones} 
    
_NewInformacionPublica:
  pattern:  /InfoPublica/
  defaults: { _controller: siblhmantenimientoBundle:BlhInformacionPublica:new}
  
_NewPasteurizacion:
  pattern:  /curvas/
  defaults: { _controller: siblhmantenimientoBundle:BlhPasteurizacion:curvas} 
  
  
_NewCensoDonante:
  pattern:  /censodonante/
  defaults: { _controller: siblhmantenimientoBundle:GeneraReportes:CensoDonante}
  
_NewBLH:
    pattern:  /Banco/Nuevo
    defaults: { _controller: siblhmantenimientoBundle:BlhBancoDeLeche:new}
    
_NewEditBLH:
    pattern:  /Banco/listado
    defaults: { _controller: siblhmantenimientoBundle:BlhBancoDeLeche:index} 
 
  #Mantenimiento
#_NewAnalisisMicrobiologicoEdit:
 # pattern:  /AnalisisMicroEdit
  #defaults: { _controller: siblhmantenimientoBundle:BlhAnalisisMicrobiologico:index} 
  
#_NewTempPasteurizacionEdit:
 #pattern:  /TemperaturaPEdit
 #defaults: { _controller: siblhmantenimientoBundle:BlhTemperaturaPasteurizacion:index} 
 
#_NewCurvaEdit: 
# pattern:  /CurvaEdit
# defaults: { _controller: siblhmantenimientoBundle:BlhCurva:index} 
 
#_NewInfoPublicaEdit: 
# pattern:  /InfoPublicaEdit
# defaults: { _controller: siblhmantenimientoBundle:BlhInformacionPublica:index}    
