siblhmantenimiento:
    resource: "@siblhmantenimientoBundle/Controller/"
    type:     annotation
    prefix:   /

acme_hello_homepage:
    pattern:  /admin/
    defaults: { _controller: siblhmantenimientoBundle:Default:index }
    
_home:
    pattern:  /
    defaults: { _controller: siblhmantenimientoBundle:Default:index}

acme_hello_projects:
    pattern:  /admin/projects
    defaults: { _controller: siblhmantenimientoBundle:Default:projects }

acme_hello_projects_add:
    pattern:  /admin/projects/add
    defaults: { _controller: siblhmantenimientoBundle:Default:addProject }

acme_hello_employees:
    pattern:  /admin/employees
    defaults: { _controller: siblhmantenimientoBundle:Default:employees }

acme_hello_employees_add:
    pattern:  /admin/employees/add
    defaults: { _controller: siblhmantenimientoBundle:Default:addEmployee }

acme_hello_profile:
    pattern:  /admin/profile
    defaults: { _controller: siblhmantenimientoBundle:Default:profile }
