{# src/minsal/academicaAnBundle/Resources/views/Default/index.html.twig #}
{% extends 'siblhmantenimientoBundle::standard_layout.html.twig' %}
 
{% block body %}
<h1>¡¡¡¡¡ Bienvenido !!!!!</h1>
{% endblock %}