{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlhExamenDonante creation</h1>

    {{ form(form) }}
{{ form_widget(form.usuario, {'attr':{ 'value' : user_ID }}) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('blhexamendonante') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
