{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlhExamen creation</h1>

    {{ form(form) }}
<td style="visibility:hidden">{{ form_widget(form.usuario, {'attr':{ 'value' : user_ID }}) }} </td>
        <ul class="record_actions">
    <li>
        <a href="{{ path('blhexamen') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
