<<<<<<< HEAD
{% extends '::base.html.twig' %}
=======
<<<<<<< HEAD
{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
=======
{% extends '::base.html.twig' %}
>>>>>>> marvin
>>>>>>> desarrollo

{% block body -%}
    <h1>BlhMenu edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blhmenu') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
