

    form {
   border: 10px solid rgb(235, 235, 235);	
   background:rgb(246, 246, 246) ;
}
form div { padding: 7px;}
form div label{display: block; float: left; width: 150px;color: blue}
select:focus, textarea:focus, input:focus{background-color: #FFFDD4;}
select:hover, textarea:hover, input:hover{background-color: lightcyan;}
  
  
