* {margin:0;padding:0}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
.fleft {float:left}
.fright  {float:right}
.fcenter {float:none;margin:0 auto;width:96%}
.fclear {clear:both}
body {font-family:Arial,Helvetica,sans-serif;font-size:12px;background:#201d0f;color:#fff}
a {color:#ec7322;text-decoration:underline}
a:hover {color:#ec7322;text-decoration:none}
#container {width:1000px;height: auto;margin:0 auto;background-color:#e8e8e8;} 
#header {height:200px;background-color:#F3F781}
#logo {font-size:36px;color:#FFF;margin:160px 0 0 10px;float:left}
#author {float:right;margin:180px 10px 0 0}
.title {color:#ec7322;font-weight:bold;margin:10px}
.title h2 {padding-top:2px}
.title img {float:left}
#sidebar1 {float:left;width:215px;background:#4b422a}
#sidebar1 li {list-style:none;background:url(images/pLi.gif) no-repeat left top;padding-left:17px;padding-top:2px;margin:7px 11px}
#sidebar1 li a {color:#FFF}
.picBottom {vertical-align:top}
#mainContent {margin:0 0 0 234px;background:#4b422a}
#mainContent p {margin:12px}
#footer {margin:20px 0;background:#272213}
#footer p {text-align:center}
.clearfloat {clear:both;height:0;font-size:1px;line-height:0}
#mainMenu {padding:22px 0 0 0;text-align:center}
ul#navlist {margin-left:0;padding-left:0;white-space:nowrap}
#navlist li {display:inline;list-style-type:none}
#navlist a {padding:3px 30px;font-size:24px}
#navlist a:link, #navlist a:visited {color:#fff;text-decoration:none}
#navlist a:hover {color:#ec7322;background-color:#4b422a;text-decoration:none}
#navlist #active a {color:#ec7322;background-color:#4b422a;text-decoration:none}
