{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block body -%}
    <h1>BlhLoteAnalisis edit</h1>

    {{ form(edit_form) }}
	{{ form_widget(edit_form.usuario, {'attr':{ 'value' : user_ID }}) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('blhloteanalisis') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}